[submodule "backend"]
	path = backend
	url = https://github.com/rafaeldailymartins/attendance-control-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/rafaeldailymartins/attendance-control-frontend.git
